html, body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font: normal normal normal 15px/1.4em montserrat,sans-serif;

}

*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, i {
  font-size: 2rem!important;
  text-align: center;
  text-transform: uppercase;
  font: normal normal normal 15px/1.4em montserrat,sans-serif;

}

.line {
  letter-spacing: -2px;
}

img {
  border-radius: 5px;
  height: 20rem;
  width: 20rem;
  margin: auto;
  display: block;
}

div {
  text-align: center;
}

a {
  color: #656565;
  text-decoration: none;
  text-transform: lowercase;
}
.App-link{
  margin: 0 3%;
}
.about{
  padding: 0 8%;
  text-align: justify;
}

.grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto 60%;
  grid-gap: 0px;
  align-content: center;
  grid-template-columns: minmax(0, 1fr) 300px;
}
.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;
  height: 15vh;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 3;
  background:#a68e9e;
  display: flex;
  justify-content: center;
  position: fixed;
  margin-left: 50%;
  z-index: 1;
  height: 100vh;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
  height: 85vh;
  display: flex;
  justify-content: center;
}
.item1, .item2, .item3{
  width: 50%;
}

/*Accordion*/

.accordionItemHeading{
  margin-left: 2%;
  border-left: 2px solid #a68e9e;
  padding-left: 2%;
  text-align: left;
  cursor: pointer;
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float:left;
  display:block;  
}
.open .accordionItemContent{
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 90%;
  margin-left: 5%;
  display:block;
  text-align: left;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}


