@media screen and (max-width: 700px) {
  header {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .grid-container{
    display: grid;
    height: 20%;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 100vh;
    grid-gap: 0px;
  }
  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    width: 100%;
    /* background: rgb(41, 41, 35); */
  }
  
  .item2 {
    grid-column: 1;
    grid-row: 3 / span 1;
    /* background: rgb(35, 131, 226); */
    position: relative;
    margin-left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
  }
  
  .item3 {
    grid-column: 1 / span 1;
    grid-row: 2;
    /* background: rgb(66, 23, 151); */
    width: 100%;
  }
}